/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Patua+One&display=swap');

/* 

Root Font


Patua one:
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;

Outfit:
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

Inter:
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
*/


/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*  */
    scrollbar-width: thin;/* muda o tamanho da barra de rolagem */
    scrollbar-color: red;/* muda cor da barra de rolagem  */
}

body {
    background-color: rgb(39, 39, 39);
}

/*links*/
a {
    color:white;
    text-decoration: none;/* tirar sublinhado dos links */

}

/*listas*/
ul {
    list-style: none;/* remover pontinhos de listas */
}

/* Manipulação da cor do Logo (invert) */
html[data-theme='dark'] .logo {
    filter: invert(1);
}

/* Manipulação cabeçalho */
#header {
    display: flex; /* tela flexivel */
    flex-flow: row wrap; /* quebra de linha */
    justify-content: space-between; /* espaço por igual entre objetos (horizontal) */
    align-items: center; /* espaço por igual entre objetos (vertical) */
    width: 100%; /* ocupar a tela na verical */
    padding: 10px 20px;
}

/* Logo */
.logo {
    width: 80px; /* comprimento(horizontal) */
    height: auto; /* altura (vertical) */
}

/* Icone Cabeçalho (classe) */
.header-toggle {
    display: flex;
    justify-content: flex-end;/* pra q o icone fique no final da tela */
}

/* Icone Cabeçalho (ID) */
#toggleTheme {
    color: white; /* cor de texto */
    font-size: 20px; /* tamanho da fonte */
    cursor: pointer; /* sinalizando q é um clique */
    transition: all 0.6s ease-in-out; /* transição entre modo dark e light */

}

/* menu desktop */
.menu {
    display: flex;
    align-items: center;
    gap: 25px; /*gap(vão) espaço entre campos dentro do campo pai */

}

.menu-item {
    width: 100%;
}

/* botões */
.menu-link {
    display: flex;
}

/* Personalização do texto (span dentro do <a>) */
.menu-texto{
    font-size: 12px; /* tamanho da fonte */
    text-transform: uppercase; /* todas as letras em caixa alta */
    font-family: "Outfit", sans-serif; /* estilização de fonte */  
    font-weight: 300; /* espessura da letra (normalmente entre 100-900) */
}


.header-nav {
    display: none;/* faz o menu desktop sumir quando tela está menor que 768px */
}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;      
}

.menu-mobile {
    bottom: 0;/* joga os botões la pra baixo */
    position: fixed;
    width: 100vw;/* vw = visibility: width */
    justify-content: 1px solid #989898;
    z-index: 1;/*  */

}

.menu-link.active .menu-icone,
.menu-link.active .menu-texto,
.menu-link:hover .menu-icone,
.menu-link:hover .menu-texto {
        color:rgba(10, 79, 230, 0.788)
}







    /* CSS Responsivo */

/* @media cria a possibilidade de criação de tela */
/* a partir telas 768px */
@media (min-width: 768px) {
    .header-nav {
        display: flex;
    }

    .header-nav,
    .header-toggle {
        min-width: 25%; /* largura minima do elemento (até 'x') */
    }

    .nav-mobile {
        display: none;
    }
}










